* {
    box-sizing: border-box;
}
main, header, article, aside, footer {
    border: 1px solid black;
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
header, footer {
    width: 100%;
}
section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
}
aside {
    width: 20%;
}
img {
    width: 100px;
}
article {
    background-image: url(kepek/csonak.png);
    background-repeat: no-repeat;
    background-color: rgb(99, 105, 192);
    width: 60%;
}
article img {
    padding-left: 50px;
    padding-top: 100px;
    width: 150px;
}